player-connection-mode=Listen
player-connection-guid=3248367982
player-connection-debug=0
player-connection-project-name=import traffic
player-connection-ip=192.168.6.140
player-connection-ip=26.252.17.33
player-connection-ip=172.20.16.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0882420d248642f691ae9017faae38c0
